.approach{ 
    width: 100vw;
    height:75vh;
    top: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:flex; 
    justify-content:center;
    align-items: center;
    background-color: skyblue;

    .card{ 
        display: flex;
        flex-direction: row;
        background-color: whitesmoke;
        width: 100vw;
        height: 70vh;
        border-radius: 10px;
        gap: 50px;
    
        .left{
            padding: 50px;
            gap: 30px;
            color: black; 
            width: 100%;
            
            .title{ 
                top:75%;
                font-size: 50px;
                color:red;
            }
            p{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 20px;
            }
        }

        .right{
            background-color: white;
            width: 100%;
            align-items: right;
            justify-content: right;
        }
    }
}